.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  background: var(--gray1);
}

.messages {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.inputContainer {
  background: white;
  border-top: 1px solid var(--gray2);
  padding: var(--pad);
}
